body {
    margin: 0;
    padding: 0;
    overflow:hidden;
    background: rgb(148, 141, 117);

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

#title {
    position: absolute;
    font-family: Consolas;
    left: 100px;
    width: 1112px;
    height: 75px;
    top: 25px;
    text-align: center;
    font-weight: bold;
    font-size: 36pt;
}

#gl-canvas {
    position: absolute;
    left: 400px;
    top: 100px;
    background: blue;
    width: 512px;
    height: 512px;
    display: block;
}

#message{
    padding: 5px;
    background: rgb(48, 41, 17);
    color: white;
    position: absolute;
    left: 100px;
    top: 100px;
    font-family: Consolas;
    width: 290px;
    height: 502px;
    overflow-y: auto;
}

#message .active, #message .active:hover {
    color: green;
}

#message a:hover {
    color: gray;
}

#debug{
    padding: 5px;
    background: rgb(48, 41, 17);
    color: white;
    position: absolute;
    left: 912px;
    top: 100px;
    font-family: Consolas;
    width: 290px;
    height: 502px;
    overflow-y: auto;
}

#debug ul.attention {
  list-style: none;
  margin-left: 0;
  padding-left: 20px;
}

#debug ul.attention li {
  padding-left: 1.2em;
  text-indent: -1.2em;
}

#debug ul.attention li:before {
  content: "!";
  padding-right: 10px;
}

#result-div {
    position: absolute;
    left: 400px;
    top: 100px;
    width: 512px;
    height: 512px;
    font-size: 64pt;
    font-weight: bold;
    font-family: Consolas;
    text-align: center;
    line-height: 512px;
}

#result {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}
